{% load static %}

<head>
    <title>IRTF</title>
      <link rel="stylesheet" href="/static/css/style.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
      <link href="{% static '/css/home.css' %}" rel="stylesheet" />
      <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
        
      <header>
        <div class="logo"><a href="/">Agriculture</a></div>
        <div class="menu">
          <a href="#">
            <ion-icon name="close" class="close"></ion-icon>
          </a>
          
          <ul>
            <li><a href="/crops" class="under">Crops</a></li>
            
            <li><a href="/bank" class="under">Bank</a></li>
            
            <li><a href="#" class="under">Analysis</a></li>
            <li><a href="#" class="under">Fertilizers</a></li>
            
          <li><a href="/farmers" class="under">Farmers</a></li>
          <li><a href="/soil" class="under">Soil Test</a></li>
          
           
          </ul>
        </div>
        <div class="search">
          
            <input type="text"  placeholder="Search for techniques" id="input">
           <a id="searchbtn"><ion-icon class="s" name="search"></ion-icon></a>
        </div>
        
  
        <script>
         
          inp=document.getElementById("input")
  
          inp.addEventListener("keydown",(event)=>{
            if(event.key=="Enter"){
              if (inp.value.length!=0){
              window.location.href="/search/"+inp.value
              }
            }
          })
          
          
          document.getElementById("searchbtn").addEventListener("click",()=>{
            if (inp.value.length!=0){
  
              window.location.href="/search/"+inp.value
            }
          })
        </script>
        <div class="heading">
          <ul style="display: flex;">
            <li><a href="/crops" class="under">Crops</a></li>
            
            <li><a href="/bank" class="under">Bank</a></li>
            
            <li><a href="#" class="under">Analysis</a></li>
            <li><a href="#" class="under">Fertilizers</a></li>
            
          <li><a href="/farmers" class="under">Farmers</a></li>
          <li><a href="/soil" class="under">Soil Test</a></li>
          <li><a href="/logout" class="under">LogOut</a></li>
          </ul>
        </div>
        <div class="heading1">
          <ion-icon name="menu" class="ham"></ion-icon>
        </div>
      </header>
      <div class="background3">
        <div class="overlay">
            <div class="content">
    </div>
</div>
</div>
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
      <script>
        const close = document.querySelector(".close");
  const open = document.querySelector(".ham");
  const menu = document.querySelector(".menu");
  close.addEventListener("click", () => {
    menu.style.visibility = "hidden";
  });
  open.addEventListener("click", () => {
    menu.style.visibility = "visible";
  });
  
      </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
     <script src="/static/js/header.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
     <script src="/static/js/chart-area-demo.js"></script>
     <script src="/static/js/chart-bar-demo.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
     <script src="/static/js/datatables-simple-demo.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
   
    </body>
    
    </html>